// movies.module.scss

.moviesContainer {
  padding: 20px;
  background-color: #f8f9fa;

  h1 {
    color: #343a40;
    text-align: center;
  }

  .moviesList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .movieItem {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    img{
      width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }

    .moviePoster {
      width: 100%;
      height: auto;
    }

    .movieDetails {
      padding: 15px;

      h2 {
        margin: 10px 0;
        font-size: 1.5rem;
        color: #343a40;
      }

      p {
        margin: 5px 0;
        color: #666;

        &:first-of-type {
          margin-top: 0;
        }

        strong {
          color: #343a40;
        }
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 90%;
    overflow-y: auto;
    text-align: center;
    position: relative;

    .closeButton {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .popupPoster {
      max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
      height: auto;
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin: 10px 0;
    }

    strong {
      color: #343a40;
    }
  }
}

// Custom styles for react-slick
.slick-prev, .slick-next {
  z-index: 1;
  top: 50%;
  width: auto;
  height: auto;
  color: #343a40;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px;
}

.slick-dots {
  bottom: -30px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: #343a40;
}
